li{
   list-style: none;
   display: inline-block;
   margin-right: 3px;
   background: brown;
   text-align: center;
}

a{
    color:rgb(20, 19, 19);
    text-decoration: none;
    
}

nav ul li a{
    color: white;
}

nav ul li:hover{
    background: green;
    width: 60px;
}

nav ul li:hover a{
   color: rgb(216, 117, 4);
   
}